@charset "UTF-8";
.container-main {
  flex: 1;
  display: flex;
  flex-direction: column; }

.containerSelect {
  margin-top: 3rem;
  height: 50vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; }
  .form-container span {
    font-size: 17px; }
  .form-container button {
    background: transparent; }
  .form-container a .btn {
    font-size: 1.5rem; }
  .form-container a:hover {
    background-color: #e8ff1c;
    color: #000;
    border-radius: 2rem; }

.form-container span {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px; }

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000; }
  .containerSelect.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0; }

.toggle {
  height: 100%;
  background: linear-gradient(to right, #64c05c, #91a82d);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out; }
  .container.active .toggle {
    transform: translateX(50%); }

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out; }
  .toggle-panel.toggle-left {
    transform: translateX(-200%); }
  .containerSelect.active .toggle-panel.toggle-left {
    transform: translateX(0); }
  .toggle-panel.toggle-rigth {
    right: 0;
    transform: translateX(0); }
  .container.active .toggle-panel.toggle-rigth {
    transform: translateX(200%); }
  .toggle-panel button {
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #fff; }
    .toggle-panel button:hover {
      background-color: #e8ff1c;
      color: #000;
      border-radius: 2rem; }

.animate__heartBeat {
  animation-duration: 10s; }

@media screen and (max-width: 768px) {
  .containerSelect {
    grid-template-columns: repeat(1, 1fr); }
    .containerSelect .toggle-container,
    .containerSelect .toggle-panel {
      width: 100%; } }

footer {
  width: 100%;
  position: relative;
  bottom: 0px;
  background: linear-gradient(to right, #00093c, #9c908b);
  color: #fff;
  padding: 10px 0 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
  margin: 0; }
  footer .pie {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    justify-content: space-between;
    padding: 1px 1px 1px 10px; }
    footer .pie .piecol {
      flex-basis: 25%;
      padding: 10px; }
      footer .pie .piecol:nth-child(2), footer .pie .piecol:nth-child(3) {
        flex-basis: 15%; }
    footer .pie .logof {
      width: 100px;
      margin: 0 0 -200px 90px; }
    footer .pie .piecol h3 {
      width: fit-content;
      margin-bottom: 40px;
      position: relative; }
    footer .pie .email-id {
      width: fit-content;
      border-bottom: 1px solid #ccc;
      margin: 20px 0; }
    footer .pie input::placeholder {
      color: #e4ff5c; }
    footer .pie ul li {
      list-style: none;
      margin-bottom: 12px; }
      footer .pie ul li a {
        text-decoration: none;
        color: #fff; }
    footer .pie form {
      padding-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      margin-bottom: 50px; }
      footer .pie form .fa-regular {
        font-size: 18px;
        margin-right: 10px; }
      footer .pie form input {
        width: 100%;
        background: transparent;
        color: #ccc;
        border: 0;
        outline: none; }
      footer .pie form button {
        background: transparent;
        border: 0;
        outline: none;
        cursor: pointer; }
        footer .pie form button .fa-solid {
          font-size: 16px;
          color: #ccc; }
    footer .pie .socialIcons .fa-brands {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      color: #000;
      margin-right: 15px;
      cursor: pointer; }
    footer .pie hr {
      width: 90%;
      border: 0;
      border-bottom: 1px solid #ccc;
      margin: 20px auto; }
    footer .pie .copyright {
      text-align: center; }
    footer .pie .underline {
      width: 100%;
      height: 5px;
      background: #767676;
      border-radius: 3px;
      position: absolute;
      top: 25px;
      left: 0;
      overflow: hidden; }
      footer .pie .underline span {
        width: 15px;
        height: 100%;
        background: #fff;
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: 10px;
        animation: moving 2s linear infinite; }

@keyframes moving {
  0% {
    left: -20px; }
  100% {
    left: 100%; } }
  @media (max-width: 700px) {
    footer {
      bottom: unset;
      padding: 60px 0 0 80px; }
      footer .piecol {
        flex-basis: 100%; }
        footer .piecol:nth-child(2), footer .piecol:nth-child(3) {
          flex-basis: 100%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

.row {
  width: 100%; }

.titulohes {
  margin: 4rem;
  font-family: Georgia, 'Times New Roman', Times, serif; }
  .titulohes h1 {
    margin-top: 3rem;
    font-size: 3rem;
    text-indent: 4rem; }

.carousel-item img {
  height: 45rem;
  /* Ajusta este valor a la altura que desees */
  object-fit: contain;
  /* Esto asegura que las imágenes se redimensionen correctamente */
  margin: 0;
  padding: 0; }

.description {
  margin-bottom: 5rem; }
  .description p {
    margin: 7rem 3rem 2rem 3rem;
    font-size: 1.5rem;
    text-align: center; }
    .description p span {
      font-weight: bold; }

.mees {
  display: flex;
  align-items: center; }
  .mees iframe {
    width: 90%;
    margin: 0;
    margin-left: 2rem;
    padding-left: 3rem;
    margin-right: 0;
    padding-right: 0; }
  .mees p {
    margin-top: 0;
    padding-top: 0;
    font-size: 1.5rem;
    text-align: centrer;
    /* Alinea el texto a la derecha */
    padding-left: 3rem;
    margin-right: auto;
    /* Deja espacio en blanco a la izquierda */ }

.mees2 p {
  margin-top: 0;
  padding-top: 0;
  font-size: 1.5rem;
  text-align: centrer;
  /* Alinea el texto a la derecha */
  padding: 1rem;
  margin-left: auto;
  /* Deja espacio en blanco a la izquierda */ }

.mees2 img {
  margin-top: 0;
  padding-top: 0;
  display: block;
  /* Para que el margin-left: auto funcione */
  margin-left: auto;
  /* Deja espacio en blanco a la izquierda */
  margin-right: 0;
  /* Alinea la imagen a la derecha */
  max-width: 100%;
  /* Asegura que la imagen no supere su contenedor */
  height: auto;
  /* Mantiene la proporción de la imagen */
  border-radius: 5px; }

.mees3 {
  display: flex;
  flex-wrap: wrap;
  /* Permite que los elementos se envuelvan si no caben en la misma fila */
  justify-content: space-between;
  /* Espacio entre los elementos en el contenedor */
  align-items: flex-start;
  /* Alinea los elementos en la parte inferior del contenedor */ }
  .mees3 img {
    /* Asegura que la imagen ocupe el ancho completo del contenedor */
    width: 45%;
    margin-right: 3rem;
    max-width: 100%;
    padding: 0;
    /* Evita que la imagen supere su tamaño natural */
    border-radius: 5px; }
  .mees3 p {
    flex: 0 0 calc(50% - 1rem);
    /* Ocupa el 50% del ancho y deja un espacio de 1rem entre los elementos */
    margin-top: 3rem;
    /* Espacio en blanco arriba del texto */
    padding-top: 4rem;
    font-size: 1.5rem;
    text-align: justify;
    margin-left: 3rem; }

.esfi {
  text-align: center; }
  .esfi h2 {
    font-size: 3rem;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-top: 2rem;
    display: inline-block;
    /* Hace que el contenedor tenga solo el ancho del contenido */
    border-bottom: 2px solid rgba(76, 175, 80, 0.5);
    /* Subrayado biselado verde transparente */
    padding-bottom: 10px;
    /* Espacio entre el texto y el subrayado */
    width: 100%; }

.direcciones {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 100%;
  margin-bottom: 1.2rem; }

.card-container {
  display: flex;
  overflow-x: auto;
  margin: 0; }

.card {
  background-color: #fff;
  box-shadow: 0 4px 8px black;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin: 0 2rem;
  flex: 0 0 600px;
  box-sizing: border-box;
  margin-bottom: 1.5rem; }

.map-container {
  height: 300px;
  margin-top: 20px;
  overflow: hidden; }

.card-container::-webkit-scrollbar {
  width: 12px;
  /* Ancho de la barra de desplazamiento */
  margin-left: 1rem;
  margin-right: 1rem; }

.card-container::-webkit-scrollbar-thumb {
  background-color: #4CAF50;
  /* Color de la barra de desplazamiento */
  border-radius: 10px;
  /* Borde redondeado */ }

.card h2 {
  position: relative; }

.card h2::after {
  content: "";
  display: block;
  height: 2px;
  width: 50%;
  background-color: rgba(76, 175, 80, 0.2);
  /* Línea de borde biselado verde transparente */
  position: absolute;
  bottom: 0;
  left: 25%; }

/* Estilos específicos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .col-12,
  .col-md-6 {
    width: 100%; } }
