.container-main {
  flex: 1;
  display: flex;
  flex-direction: column; }

.containerSelect {
  margin-top: 3rem;
  height: 50vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; }
  .form-container span {
    font-size: 17px; }
  .form-container button {
    background: transparent; }
  .form-container a .btn {
    font-size: 1.5rem; }
  .form-container a:hover {
    background-color: #e8ff1c;
    color: #000;
    border-radius: 2rem; }

.form-container span {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px; }

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000; }
  .containerSelect.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0; }

.toggle {
  height: 100%;
  background: linear-gradient(to right, #64c05c, #91a82d);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out; }
  .container.active .toggle {
    transform: translateX(50%); }

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out; }
  .toggle-panel.toggle-left {
    transform: translateX(-200%); }
  .containerSelect.active .toggle-panel.toggle-left {
    transform: translateX(0); }
  .toggle-panel.toggle-rigth {
    right: 0;
    transform: translateX(0); }
  .container.active .toggle-panel.toggle-rigth {
    transform: translateX(200%); }
  .toggle-panel button {
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #fff; }
    .toggle-panel button:hover {
      background-color: #e8ff1c;
      color: #000;
      border-radius: 2rem; }

.animate__heartBeat {
  animation-duration: 10s; }

@media screen and (max-width: 768px) {
  .containerSelect {
    grid-template-columns: repeat(1, 1fr); }
    .containerSelect .toggle-container,
    .containerSelect .toggle-panel {
      width: 100%; } }

footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: linear-gradient(to right, #00093c, #9c908b);
  color: #fff;
  padding: 10px 0 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px; }
  footer .pie {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    justify-content: space-between;
    padding: 1px 1px 1px 10px; }
    footer .pie .piecol {
      flex-basis: 25%;
      padding: 10px; }
      footer .pie .piecol:nth-child(2), footer .pie .piecol:nth-child(3) {
        flex-basis: 15%; }
    footer .pie .logof {
      width: 100px;
      margin: 0 0 -200px 90px; }
    footer .pie .piecol h3 {
      width: fit-content;
      margin-bottom: 40px;
      position: relative; }
    footer .pie .email-id {
      width: fit-content;
      border-bottom: 1px solid #ccc;
      margin: 20px 0; }
    footer .pie input::placeholder {
      color: #e4ff5c; }
    footer .pie ul li {
      list-style: none;
      margin-bottom: 12px; }
      footer .pie ul li a {
        text-decoration: none;
        color: #fff; }
    footer .pie form {
      padding-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      margin-bottom: 50px; }
      footer .pie form .fa-regular {
        font-size: 18px;
        margin-right: 10px; }
      footer .pie form input {
        width: 100%;
        background: transparent;
        color: #ccc;
        border: 0;
        outline: none; }
      footer .pie form button {
        background: transparent;
        border: 0;
        outline: none;
        cursor: pointer; }
        footer .pie form button .fa-solid {
          font-size: 16px;
          color: #ccc; }
    footer .pie .socialIcons .fa-brands {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      color: #000;
      margin-right: 15px;
      cursor: pointer; }
    footer .pie hr {
      width: 90%;
      border: 0;
      border-bottom: 1px solid #ccc;
      margin: 20px auto; }
    footer .pie .copyright {
      text-align: center; }
    footer .pie .underline {
      width: 100%;
      height: 5px;
      background: #767676;
      border-radius: 3px;
      position: absolute;
      top: 25px;
      left: 0;
      overflow: hidden; }
      footer .pie .underline span {
        width: 15px;
        height: 100%;
        background: #fff;
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: 10px;
        animation: moving 2s linear infinite; }

@keyframes moving {
  0% {
    left: -20px; }
  100% {
    left: 100%; } }
  @media (max-width: 700px) {
    footer {
      bottom: unset;
      padding: 60px 0 0 80px; }
      footer .piecol {
        flex-basis: 100%; }
        footer .piecol:nth-child(2), footer .piecol:nth-child(3) {
          flex-basis: 100%; } }
