@charset "UTF-8";
.main-body {
  min-height: 100vh;
  /* Mínimo alto de la ventana visible */
  margin: 0;
  /* Elimina el margen predeterminado del body */
  position: relative;
  /* Para que el footer se posicione correctamente */ }

.container-main {
  flex: 1;
  display: flex;
  flex-direction: column; }

.containerSelect {
  margin-top: 3rem;
  height: 50vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; }
  .form-container span {
    font-size: 17px; }
  .form-container button {
    background: transparent;
    border: 0.05px solid #00ff55;
    border-radius: 1rem; }
  .form-container a .btn {
    font-size: 1.5rem; }
  .form-container a:hover {
    background-color: #e8ff1c;
    color: #000;
    border-radius: 2rem; }

.form-container span {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px; }

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000; }
  .containerSelect.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0; }

.toggle {
  height: 100%;
  background: linear-gradient(to right, #64c05c, #91a82d);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out; }
  .container.active .toggle {
    transform: translateX(50%); }

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out; }
  .toggle-panel.toggle-left {
    transform: translateX(-200%); }
  .containerSelect.active .toggle-panel.toggle-left {
    transform: translateX(0); }
  .toggle-panel.toggle-rigth {
    right: 0;
    transform: translateX(0); }
  .container.active .toggle-panel.toggle-rigth {
    transform: translateX(200%); }
  .toggle-panel button {
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #fff;
    border: 0 solid; }
    .toggle-panel button:hover {
      background-color: #e8ff1c;
      color: #000;
      border-radius: 2rem; }

.animate__heartBeat {
  animation-duration: 10s; }

@media screen and (max-width: 768px) {
  .containerSelect {
    grid-template-columns: repeat(1, 1fr); }
    .containerSelect .toggle-container,
    .containerSelect .toggle-panel {
      width: 100%; } }

button {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none; }

#btn:hover, :focus {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #00ff55, 0 0 20px #5eff00, 0 0 50px #73ff00, 0 0 100px #d0ff00; }

.btn.shake {
  animation: shakeAnimation 0.5s infinite linear; }

@keyframes shakeAnimation {
  0%, 100% {
    transform: translateX(0); }
  50% {
    transform: translateX(-1px);
    /* Puedes ajustar la amplitud del temblor cambiando este valor */ } }

footer {
  margin: 0;
  /* Agregado */
  padding: 0;
  /* Agregado */
  width: 100%;
  bottom: 0;
  background: linear-gradient(to right, #00093c, #9c908b);
  color: #fff;
  padding: 10px 0 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  max-width: 100%;
  z-index: 1000; }
  footer .pie {
    margin: 0;
    /* Agregado */
    padding: 0;
    /* Agregado */
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    justify-content: space-between;
    padding: 1px 1px 1px 10px; }
    footer .pie .piecol {
      flex-basis: 25%;
      padding: 10px; }
      footer .pie .piecol:nth-child(2), footer .pie .piecol:nth-child(3) {
        flex-basis: 15%; }
    footer .pie .logof {
      width: 100px;
      margin: 0 0 -200px 90px; }
    footer .pie .piecol h3 {
      width: fit-content;
      margin-bottom: 40px;
      position: relative; }
    footer .pie .email-id {
      width: fit-content;
      border-bottom: 1px solid #ccc;
      margin: 20px 0; }
    footer .pie input::placeholder {
      color: #e4ff5c; }
    footer .pie ul li {
      list-style: none;
      margin-bottom: 12px; }
      footer .pie ul li a {
        text-decoration: none;
        color: #fff; }
    footer .pie form {
      padding-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      margin-bottom: 50px; }
      footer .pie form .fa-regular {
        font-size: 18px;
        margin-right: 10px; }
      footer .pie form input {
        width: 100%;
        background: transparent;
        color: #ccc;
        border: 0;
        outline: none; }
      footer .pie form button {
        background: transparent;
        border: 0;
        outline: none;
        cursor: pointer; }
        footer .pie form button .fa-solid {
          font-size: 16px;
          color: #ccc; }
    footer .pie .socialIcons .fa-brands {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      color: #000;
      margin-right: 15px;
      cursor: pointer; }
    footer .pie hr {
      width: 90%;
      border: 0;
      border-bottom: 1px solid #ccc;
      margin: 20px auto; }
    footer .pie .copyright {
      text-align: center; }
    footer .pie .underline {
      width: 100%;
      height: 5px;
      background: #767676;
      border-radius: 3px;
      position: absolute;
      top: 25px;
      left: 0;
      overflow: hidden; }
      footer .pie .underline span {
        width: 15px;
        height: 100%;
        background: #fff;
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: 10px;
        animation: moving 2s linear infinite; }

@keyframes moving {
  0% {
    left: -20px; }
  100% {
    left: 100%; } }
  @media (max-width: 700px) {
    footer {
      bottom: unset;
      padding: 60px 0 0 80px; }
      footer .piecol {
        flex-basis: 100%; }
        footer .piecol:nth-child(2), footer .piecol:nth-child(3) {
          flex-basis: 100%; } }

.navbar {
  background: linear-gradient(to right, #ffff0027, #00800042, #9c908b21);
  position: relative; }

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  filter: blur(100px);
  /* Ajusta el valor de blur según sea necesario */
  z-index: -1; }

/* Add the following CSS styles to your stylesheet */
.flags {
  width: 75px;
  display: flex;
  align-items: end;
  margin: 1rem;
  justify-content: space-between;
  margin-right: 10rem;
  margin-left: auto; }

.flags__items {
  width: 30px;
  cursor: pointer;
  /* Añadí el estilo cursor: pointer aquí */ }

.flags__img {
  display: block; }

.navbar {
  font-size: 1.3rem; }

.row {
  width: 100%; }

.titulohes {
  margin: 4rem;
  font-family: Georgia, 'Times New Roman', Times, serif; }
  .titulohes h1 {
    margin-top: 3rem;
    font-size: 3rem;
    text-indent: 4rem; }

.carousel-item img {
  height: 45rem;
  /* Ajusta este valor a la altura que desees */
  object-fit: contain;
  /* Esto asegura que las imágenes se redimensionen correctamente */
  margin: 0;
  padding: 0; }

.arroz {
  margin-bottom: 5rem; }
  .arroz p {
    margin: 7rem 3rem 2rem 3rem;
    font-size: 1.5rem;
    text-align: center; }
    .arroz p span {
      font-weight: bold; }

.mees {
  display: flex;
  align-items: center; }
  .mees iframe {
    width: 90%;
    margin: 0;
    margin-left: 2rem;
    padding-left: 3rem;
    margin-right: 0;
    padding-right: 0; }
  .mees p {
    margin-top: 0;
    padding-top: 0;
    font-size: 1.5rem;
    text-align: justify;
    /* Alinea el texto a la derecha */
    padding-left: 3rem;
    margin-right: auto;
    /* Deja espacio en blanco a la izquierda */ }

.mees2 p {
  margin-top: 0;
  padding-top: 0;
  font-size: 1.5rem;
  text-align: center;
  /* Alinea el texto a la derecha */
  padding: 1rem;
  margin-left: auto;
  /* Deja espacio en blanco a la izquierda */ }

.mees2 img {
  margin-top: 0;
  padding-top: 0;
  display: block;
  /* Para que el margin-left: auto funcione */
  margin-left: auto;
  /* Deja espacio en blanco a la izquierda */
  margin-right: 0;
  /* Alinea la imagen a la derecha */
  max-width: 100%;
  /* Asegura que la imagen no supere su contenedor */
  height: auto;
  /* Mantiene la proporción de la imagen */
  border-radius: 5px; }

.mees3 {
  display: flex;
  flex-wrap: wrap;
  /* Permite que los elementos se envuelvan si no caben en la misma fila */
  justify-content: space-between;
  /* Espacio entre los elementos en el contenedor */
  align-items: flex-start;
  /* Alinea los elementos en la parte inferior del contenedor */ }
  .mees3 img {
    /* Asegura que la imagen ocupe el ancho completo del contenedor */
    width: 45%;
    margin-right: 3rem;
    max-width: 100%;
    padding: 0;
    /* Evita que la imagen supere su tamaño natural */
    border-radius: 5px; }
  .mees3 p {
    flex: 0 0 calc(50% - 1rem);
    /* Ocupa el 50% del ancho y deja un espacio de 1rem entre los elementos */
    margin-top: 3rem;
    /* Espacio en blanco arriba del texto */
    padding-top: 4rem;
    font-size: 1.5rem;
    text-align: justify;
    margin-left: 3rem; }

.esfi {
  text-align: center; }
  .esfi h2 {
    font-size: 3rem;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-top: 2rem;
    display: inline-block;
    /* Hace que el contenedor tenga solo el ancho del contenido */
    border-bottom: 2px solid rgba(76, 175, 80, 0.5);
    /* Subrayado biselado verde transparente */
    padding-bottom: 10px;
    /* Espacio entre el texto y el subrayado */
    width: 100%; }

.direcciones {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 100%;
  margin-bottom: 1.2rem; }

.card-container {
  display: flex;
  overflow-x: auto;
  margin: 0; }

.card {
  background-color: #fff;
  box-shadow: 0 4px 8px black;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin: 0 2rem;
  flex: 0 0 600px;
  box-sizing: border-box;
  margin-bottom: 1.5rem; }

.map-container {
  height: 300px;
  margin-top: 20px;
  overflow: hidden; }

.card-container::-webkit-scrollbar {
  width: 12px;
  /* Ancho de la barra de desplazamiento */
  margin-left: 1rem;
  margin-right: 1rem; }

.card-container::-webkit-scrollbar-thumb {
  background-color: #4CAF50;
  /* Color de la barra de desplazamiento */
  border-radius: 10px;
  /* Borde redondeado */ }

.card h2 {
  position: relative; }

.convenio-marco-section p {
  text-align: center; }

.card h2::after {
  content: "";
  display: block;
  height: 2px;
  width: 50%;
  background-color: rgba(76, 175, 80, 0.2);
  /* Línea de borde biselado verde transparente */
  position: absolute;
  bottom: 0;
  left: 25%; }

/* Estilos específicos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .col-12,
  .col-md-6 {
    width: 100%; } }

#subtitle {
  position: relative;
  display: inline-block; }

#subtitle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #00ff00, #ffff00);
  transform: scaleX(0);
  transform-origin: bottom right;
  animation: underlineAnimation 2s infinite linear; }

@keyframes underlineAnimation {
  0% {
    transform: scaleX(0);
    transform-origin: bottom right; }
  50% {
    transform: scaleX(1);
    transform-origin: bottom center; }
  100% {
    transform: scaleX(0);
    transform-origin: bottom left; } }

.carrueshm {
  display: flex;
  justify-content: center; }

#carouselExampleAutoplaying {
  max-width: 100rem;
  /* Ajusta el ancho máximo según tus necesidades */
  margin: 0; }

.carousel-inner video {
  width: 100%;
  max-height: 100rem;
  /* Ajusta la altura máxima según tus necesidades */
  max-width: 80rem;
  object-fit: cover; }

.carousel-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to bottom right, transparent 2%, white 2%);
  mask-image: linear-gradient(to bottom right, transparent 2%, white 2%); }

.cabeceraconvenio h1 {
  margin: 2rem 1rem 1rem 1rem;
  /* auto en el margen horizontal centrará el elemento */
  text-align: center; }

.cabeceraconvenio p {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 3rem; }

.mercado-publico H2,
.conveioencabe H2 {
  margin: 2rem;
  padding: 2rem; }

.mercado-publico p,
.conveioencabe p {
  text-align: center;
  margin: 2rem;
  font-size: 1.3rem; }

.convenio-marco,
.compra-agil {
  background-color: #fff;
  padding: 40px 0;
  text-align: center; }
  .convenio-marco p,
  .compra-agil p {
    font-size: 1.3rem; }

.recu, .convenio-marco-section {
  max-width: 100%;
  width: 80%;
  margin: auto; }
  .recu p, .convenio-marco-section p {
    font-size: 1.3rem; }

.convenio-marco-section {
  background-color: #4caf4fda;
  padding: 7rem;
  border: 2.5px solid #ccc;
  border-radius: 10px;
  text-align: center; }
  .convenio-marco-section h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center; }
  .convenio-marco-section p {
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: justify; }

.content-all {
  width: 210px;
  margin: auto;
  perspective: 800px;
  margin-bottom: 20rem;
  margin-top: 50px; }

.content-carrousel {
  width: 100%;
  animation: rotar 10s infinite linear;
  transform-style: preserve-3d; }
  .content-carrousel img {
    overflow: hidden; }

.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer; }

.content-carrousel figure {
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: fixed;
  max-width: 100%;
  box-shadow: 0px 0px 20px 0px black;
  transition: all 300ms;
  margin-bottom: 20rem; }

.content-carrousel figure:hover {
  box-shadow: 0px 0px 0px 0px black;
  transition: all 300ms; }

.content-carrousel figure:nth-child(1) {
  transform: rotateY(40deg) translateZ(300px); }

.content-carrousel figure:nth-child(2) {
  transform: rotateY(80deg) translateZ(300px); }

.content-carrousel figure:nth-child(3) {
  transform: rotateY(120deg) translateZ(300px); }

.content-carrousel figure:nth-child(4) {
  transform: rotateY(160deg) translateZ(300px); }

.content-carrousel figure:nth-child(5) {
  transform: rotateY(200deg) translateZ(300px); }

.content-carrousel figure:nth-child(6) {
  transform: rotateY(240deg) translateZ(300px); }

.content-carrousel figure:nth-child(7) {
  transform: rotateY(280deg) translateZ(300px); }

.content-carrousel figure:nth-child(8) {
  transform: rotateY(320deg) translateZ(300px); }

.content-carrousel figure:nth-child(9) {
  transform: rotateY(360deg) translateZ(300px); }

.content-carrousel figure:nth-child(10) {
  transform: rotateY(400deg) translateZ(300px); }

.content-carrousel img {
  width: 100%;
  transition: all 300ms; }

.content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 300ms; }

@keyframes rotar {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }

.contactame {
  margin: 1rem; }

.cabececontacto {
  text-align: center;
  margin: 2rem; }
  .cabececontacto p {
    font-size: 1.3rem;
    margin-bottom: 2rem; }

.contactanos .cardcontacto img {
  width: 9rem;
  margin: 0;
  padding: 0; }

.contactanos .cardcontacto p {
  font-size: 1.3rem; }

.cardcontacto-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap; }

/**otra card **/
.cardotra {
  overflow: visible;
  width: 190px;
  height: 254px; }

.otracard {
  display: flex; }
  .otracard .cardotra {
    margin: 2rem;
    height: 30rem; }
    .otracard .cardotra .content .back .back-content img {
      margin-top: 10rem;
      object-fit: cover;
      width: 100%;
      height: 100%; }
    .otracard .cardotra .content .back .back-content h2 {
      text-align: center; }

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
  margin: 2rem; }

.front,
.back {
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden; }

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden; }

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #85ff66, rgba(0, 0, 0, 0.301), #6bff66, #e8ff66, transparent);
  animation: rotation_481 5000ms infinite linear; }

.back-content {
  position: absolute;
  width: 95%;
  height: 95%;
  background-color: #f8f7f7;
  border-radius: 5px;
  color: #020202;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px; }

.cardotra:hover .content {
  transform: rotateY(180deg); }

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg); }
  0% {
    transform: rotateZ(360deg); } }

.front {
  transform: rotateY(180deg);
  color: white; }

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .front .front-content small {
    font-size: 1rem;
    background: #6bff66;
    color: black; }

.front-content .badge {
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content; }

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  background-color: #00000099;
  backdrop-filter: blur(2px);
  border-radius: 5px;
  object-fit: cover; }

.front .img {
  position: fixed;
  height: 90%;
  max-height: 90%;
  object-fit: fill; }

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #f3fca1;
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear; }

#bottom {
  background-color: #f5ff66;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms; }

#right {
  background-color: #34ff22;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms; }

@keyframes floating {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0px); } }

/** boton de la card*/
.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: transparent;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1); }

.button:hover::before {
  transform: scaleY(1); }

.button-content {
  position: relative;
  z-index: 1; }

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(82.3deg, #79e95d 10.8%, #d2ee58 94.3%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); }

.button:active {
  scale: 0.9; }

/* Estilos para centrar las tarjetas y ajustar márgenes */
.otracard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.cardotra {
  width: 300px;
  /* Ajusta el ancho de la tarjeta según tus necesidades */
  margin: 20px;
  /* Ajusta el margen entre tarjetas según tus necesidades */ }

/* Ajustes para pantallas pequeñas (tablets y teléfonos) */
@media (max-width: 767px) {
  .cardotra {
    width: 100%;
    /* Ocupa todo el ancho en dispositivos pequeños */ } }

@font-face {
  font-family: 'arnol';
  src: url("../fuentes/Arno Pro Italic.ttf") format("woff2"), url("../fuentes/Arno Pro Italic.ttf") format("woff"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arnol; }

/* ESTO ES LA PARTE DE HISTORIA */
/** final carrusel */
.container__slider {
  max-width: 1000px;
  height: 500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px; }

input[type=radio] {
  display: none; }

.carruhisto {
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 600px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center; }

.carruhisto .cardshi {
  position: relative;
  width: 100%;
  height: 100%; }

.carruhisto .cardhi {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); }

.carruhisto .cardhi img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover; }

.carruhisto #item-2:checked ~ .cardshi #selector-1,
.carruhisto #item-1:checked ~ .cardshi #selector-3,
.carruhisto #item-3:checked ~ .cardshi #selector-2,
.carruhisto #item-4:checked ~ .cardshi #selector-1 {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.6;
  z-index: 0; }

.carruhisto #item-3:checked ~ .cardshi #selector-1,
.carruhisto #item-1:checked ~ .cardshi #selector-2,
.carruhisto #item-2:checked ~ .cardshi #selector-3,
.carruhisto #item-4:checked ~ .cardshi #selector-2 {
  transform: translateX(40%) scale(0.8);
  opacity: 0.6;
  z-index: 0; }

.carruhisto #item-1:checked ~ .cardshi #selector-1,
.carruhisto #item-2:checked ~ .cardshi #selector-2,
.carruhisto #item-3:checked ~ .cardshi #selector-3,
.carruhisto #item-4:checked ~ .cardshi #selector-4 {
  transform: translateX(0) scale(1);
  z-index: 1; }

/* nueva historia  */
.nuevahistoria {
  line-height: 1.6; }
  .nuevahistoria .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-size: 1.3rem; }
    .nuevahistoria .container .column {
      flex: 0 0 calc(33.333% - 20px);
      margin-bottom: 20px;
      box-sizing: border-box; }
      @media (max-width: 768px) {
        .nuevahistoria .container .column {
          flex: 0 0 calc(50% - 20px); } }
