.navbar{
  font-size: 1.8rem;
}
.row {
    width: 100%;
  }
  
  .titulohes {
    margin: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
  
    h1 {
      margin-top: 3rem;
      font-size: 3rem;
      text-indent: 4rem;
    }
  }
  
  .carousel-item {
    img {
      height: 45rem; /* Ajusta este valor a la altura que desees */
      object-fit: contain; /* Esto asegura que las imágenes se redimensionen correctamente */
      margin: 0;
      padding: 0;
    }
  }
  
  .arroz {
    margin-bottom: 5rem;
  
    p {
      margin: 7rem 3rem 2rem 3rem;
      font-size: 1.5rem;
      text-align: center;
  
      span {
        font-weight: bold;
      }
    }
  }
  
  .mees {
    display: flex;
    align-items: center;
  
    iframe {
      width: 90%;
      margin: 0;
      margin-left: 2rem;
      padding-left: 3rem;
      margin-right: 0;
      padding-right: 0;
    }
  
    p {
      margin-top: 0;
      padding-top: 0;
      font-size: 1.5rem;
      text-align: center; /* Alinea el texto a la derecha */
      padding-left: 3rem;
      margin-right: auto; /* Deja espacio en blanco a la izquierda */
    }
  }
  
  .mees2 {
    p {
      margin-top: 0;
      padding-top: 0;
      font-size: 1.5rem;
      text-align: center; /* Alinea el texto a la derecha */
      padding: 1rem;
      margin-left: auto; /* Deja espacio en blanco a la izquierda */
    }
  
    img {
      margin-top: 0;
      padding-top: 0;
      display: block; /* Para que el margin-left: auto funcione */
      margin-left: auto; /* Deja espacio en blanco a la izquierda */
      margin-right: 0; /* Alinea la imagen a la derecha */
      max-width: 100%; /* Asegura que la imagen no supere su contenedor */
      height: auto; /* Mantiene la proporción de la imagen */
      border-radius: 5px;
    }
  }
  
  .mees3 {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en la misma fila */
    justify-content: space-between; /* Espacio entre los elementos en el contenedor */
    align-items: flex-start; /* Alinea los elementos en la parte inferior del contenedor */
  
    img {
      /* Asegura que la imagen ocupe el ancho completo del contenedor */
      width: 45%;
      margin-right: 3rem;
      max-width: 100%;
      padding: 0; /* Evita que la imagen supere su tamaño natural */
      border-radius: 5px;
    }
  
    p {
      flex: 0 0 calc(50% - 1rem); /* Ocupa el 50% del ancho y deja un espacio de 1rem entre los elementos */
      margin-top: 3rem; /* Espacio en blanco arriba del texto */
      padding-top: 4rem;
      font-size: 1.5rem;
      text-align: justify;
      margin-left: 3rem;
    }
  }
  
  .esfi {
    text-align: center;
  
    h2 {
      font-size: 3rem;
      text-align: center;
      font-family: 'Arial', sans-serif;
      margin-top: 2rem;
      display: inline-block; /* Hace que el contenedor tenga solo el ancho del contenido */
      border-bottom: 2px solid rgba(76, 175, 80, 0.5); /* Subrayado biselado verde transparente */
      padding-bottom: 10px; /* Espacio entre el texto y el subrayado */
      width: 100%;
    }
  }
  
  .direcciones {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100%;
  
    margin-bottom: 1.2rem;
  }
  
  .card-container {
    display: flex;
    overflow-x: auto;
    margin: 0;
  }
  
  .card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin: 0 2rem;
    flex: 0 0 600px;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
  }
  
  .map-container {
    height: 300px;
    margin-top: 20px;
    overflow: hidden;
  }
  
  .card-container::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .card-container::-webkit-scrollbar-thumb {
    background-color: #4CAF50; /* Color de la barra de desplazamiento */
    border-radius: 10px; /* Borde redondeado */
  }
  
  .card h2 {
    position: relative;
  }
  .convenio-marco-section{
    p{
      text-align: center;
    }
  }
  
  .card h2::after {
    content: "";
    display: block;
    height: 2px;
    width: 50%;
    background-color: rgba(76, 175, 80, 0.2); /* Línea de borde biselado verde transparente */
    position: absolute;
    bottom: 0;
    left: 25%;
  }
  
  /* Estilos específicos para pantallas pequeñas (móviles) */
  @media (max-width: 768px) {
    .col-12,
    .col-md-6 {
      width: 100%;
    }
  }
  