@import "indexselect";
@import "footer";
@import "eshome";
@import "esconvenio";
@import "escontactame";
@import "eshistoria";

@font-face {
  font-family: 'arnol';
  src: url('../fuentes/Arno\ Pro\ Italic.ttf') format('woff2'),
       url('../fuentes/Arno\ Pro\ Italic.ttf') format('woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arnol;
    
}




/* ESTO ES LA PARTE DE HISTORIA */


