@import "indexselect";
@import "footer";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.row{
    margin:0;
    padding: 0;
}

.titulohes{
    margin: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    h1{
        margin-top: 3rem;
        font-size: 3rem;
        text-indent: 4rem;
        
    }
}
.carousel-item {
    img {
    height: 45rem; /* Ajusta este valor a la altura que desees */
    object-fit: contain; /* Esto asegura que las imágenes se redimensionen correctamente */
    margin: 0;
    padding: 0;
}
}
.description{
    p{
        margin: 2rem 3rem 2rem 3rem;
        font-size: 1.5rem;
        text-align: center;
        span{
            font-weight: bold;
        }
    }
}
.mees{
    display: flex;
    align-items: center;
    iframe{
        width: 90%;
        margin: 0;
        margin-left: 2rem;
        padding: 0;
        margin-right: 0;
        padding-right: 0;
    }
    
}
.mees2{
    p{
    margin-top: 0;
    padding-top: 0;
    font-size: 1.5rem;
    text-align: centrer; /* Alinea el texto a la derecha */
    padding: 1rem;
    margin-left: auto; /* Deja espacio en blanco a la izquierda */
    }

}



/* Estilos específicos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .col-12,
    .col-md-6 {
        width: 100%;
    }
}

